server:
  port: 8080

spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: dreamer-service
          uri: lb://dreamer-service
          predicates:
            - Path=/dreamers/**

        - id: dream-service
          uri: lb://dream-service
          predicates:
            - Path=/dreams/**

        - id: symbol-service
          uri: lb://symbol-service
          predicates:
            - Path=/symbols/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
